
<%= simple_form_for @user do |f|%>
    <%= f.input :username %>
    <%= f.input :email, placeholder: 'e.g. bigbro@broski.com' %>
    <%= f.input :password, hint: '* must be at least six characters long' %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Sign Up!" %>

      <h3>Skills</h3>
      <%= f.simple_fields_for :skills do |skill| %>
        <%= render 'skill_fields', :f => skill %>
      <% end %>
        <%= link_to_add_association "Add a Skill", f, :skills %>
    <%= f.submit %>
<% end %>


